.cart{
    padding: 10px;
    box-shadow: 5px 5px 6px grey;
    /* background-color: rgb(17, 37, 75);
    color: white; */
}
.check-out{
        background-color:rgb(17, 37, 75);
        color: white;
        padding: 7px;
        height: 30px;
        width: 130px;
        /* border: 1px solid lightgray; */
        border-radius: 5px;
        cursor: pointer;

}