.item{
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 3px 6px 4px lightslategray;
    height: 450px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}
.item-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.item-name{
    font-weight: 700;
}

.add-button{
    background-color:rgb(17, 37, 75);
    color: white;
    padding: 6px;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
}
