/* nav  */
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(17, 37, 75);
    color: white;
}

.sign-in{
    padding: 10px;
    background-color: white;
    color: rgb(17, 37, 75);
    font-weight: 700;
    border-radius: 10px;
}

/* discount code  */

.code{
    text-align: center;
    background-color: rgb(65, 87, 129);
}
.code p{
    margin: 0px;
    padding: 10px;
    color: rgb(240, 231, 231);
}

/* banner  */

.banner{
    text-align: center;
    margin: 30px 50px 60px 50px;
}